<main class="w-full min-h-[calc(100vh-64px)] overflow-y-auto p-4 md:p-10 bg-slate-100">
  <div class="w-full max-w-[1440px] mx-auto space-y-6 mb-6">
    <h1 class="text-2xl font-bold text-neutral">Modalidad Ordinario</h1>
    @for (modality of modalitiesOrd(); track modality.id) {
      <details class="modalidad border border-gray-300 rounded-lg p-4 bg-white shadow-md">
        <summary class="select-none cursor-pointer">{{ modality.name }}</summary>
        <div class="info mt-4 block">
          <div class="precios ml-4 mb-4">
            <strong class="block text-lg text-green-600 mb-2">Precios:</strong>
            <p>Colegio Estatal: S/. {{ modality.state_school_price }}</p>
            <p>Colegio Particular: S/. {{ modality.private_school_price }}</p>
          </div>

          <div class="requisitos ml-4 mb-4">
            <strong class="block text-lg text-green-600 mb-2">Requisitos:</strong>
            <ul class="list-disc list-inside">
              @for (req of modality.requirements; track req.id) {
                <li>{{ req.name }}</li>
              }
            </ul>
          </div>

          <div class="nota bg-yellow-100 p-4 rounded-lg text-gray-700">
            <strong>Nota:</strong> Para examen de admisión ordinario, presentar 1 día antes
            los documentos legalizados requeridos en la Oficina de Admisión de Pregrado - UNAS
          </div>
        </div>
      </details>
    }
  </div>
  <div class="w-full max-w-[1440px] mx-auto space-y-6">
    <h1 class="text-2xl font-bold text-neutral">Modalidades Extraordinarias</h1>
    @for (modality of modalitiesExtra(); track modality.id) {
      <details class="modalidad border border-gray-300 rounded-lg p-4 bg-white shadow-md">
        <summary class="select-none cursor-pointer">{{ modality.name }}</summary>
        <div class="info mt-4 block">
          <div class="precios ml-4 mb-4">
            <strong class="block text-lg text-green-600 mb-2">Precios:</strong>
            <p>Colegio Estatal: S/. {{ modality.state_school_price }}</p>
            <p>Colegio Particular: S/. {{ modality.private_school_price }}</p>
          </div>

          <div class="requisitos ml-4 mb-4">
            <strong class="block text-lg text-green-600 mb-2">Requisitos:</strong>
            <ul class="list-disc list-inside">
              @for (req of modality.requirements; track req.id) {
                <li>{{ req.name }}</li>
              }
            </ul>
          </div>

          <div class="nota bg-yellow-100 p-4 rounded-lg text-gray-700">
            <strong>Nota:</strong> Para examen de admisión extraordinario, presentar 1 día antes
            los documentos legalizados requeridos en la Oficina de Admisión de Pregrado - UNAS
          </div>
        </div>
      </details>
    }
  </div>
</main>

<app-block-ui [show]="loading()"/>
<p-toast/>
