<main class="w-full min-h-[calc(100vh-64px)] overflow-y-auto p-4 md:p-10 bg-slate-100">
  <div class="w-full max-w-[1440px] mx-auto space-y-6">
    <h1 class="text-2xl font-bold text-neutral">Modalidades Extraordinarias</h1>
    <details class="modalidad border border-gray-300 rounded-lg p-4 bg-white shadow-md">
      <summary class="select-none cursor-pointer">Modalidad Convenios Especiales</summary>
      <div class="info mt-4" style="display: block;">

        <div class="fechas ml-4 mb-4">
          <strong class="block text-lg text-green-600 mb-2">Fechas:</strong>
          <p>Presentación de requisitos: 02/01/2025 - 20/02/2025</p>
          <p>Examen de Aptitud Académica: 23/02/2025</p>
        </div>

        <div class="precios ml-4 mb-4">
          <strong class="block text-lg text-green-600 mb-2">Precios:</strong>
          <p>Colegio Estatal: S/. 230.00</p>
          <p>Colegio Particular: S/. 250.00</p>
        </div>

        <div class="requisitos ml-4 mb-4">
          <strong class="block text-lg text-green-600 mb-2">Requisitos:</strong>
          <ul class="list-disc list-inside">
            <li>Solicitud dirigida al Rector UNAS (Presentar documento fisico)</li>
            <li>Recibo de pago (Presentar documento fisico)</li>
            <li>Certificado de estudios (Presentar documento original)</li>
            <li>Carta de presentación de municipio, instituciones asociación (Presentar documento original)</li>
            <li>DNI escaneado (Presentar documento fisico legalizado)</li>
            <li>Foto del postulante (Presentar documento fisico)</li>
          </ul>
        </div>

        <div class="nota bg-yellow-100 p-4 rounded-lg text-gray-700">
          <strong>Nota:</strong> Para examen de admisión extraordinario convenios especiales, presentar 1 dia antes los documentos legalizados requeridos en la Oficina de Admision de Pregrado - UNAS
        </div>
      </div>
    </details>
    <details class="modalidad border border-gray-300 rounded-lg p-4 bg-white shadow-md">
      <summary class="select-none cursor-pointer">Modalidad Deportistas Calificados</summary>
      <div class="info mt-4" style="display: block;">
        <!-- Fechas -->
        <div class="fechas ml-4 mb-4">
          <strong class="block text-lg text-green-600 mb-2">Fechas:</strong>
          <p>Presentación de requisitos: 02/01/2025 - 20/02/2025</p>
          <p>Examen de Aptitud Académica: 23/02/2025</p>
        </div>

        <!-- Precios -->
        <div class="precios ml-4 mb-4">
          <strong class="block text-lg text-green-600 mb-2">Precios:</strong>
          <p>Colegio Estatal: S/. 220.00</p>
          <p>Colegio Particular: S/. 240.00</p>
        </div>

        <!-- Requisitos -->
        <div class="requisitos ml-4 mb-4">
          <strong class="block text-lg text-green-600 mb-2">Requisitos:</strong>
          <ul class="list-disc list-inside">
            <li>Solicitud dirigida al Rector UNAS (Presentar documento fisico)</li>
            <li>Recibo de pago (Presentar documento fisico)</li>
            <li>Certificado de estudios (Presentar documento original)</li>
            <li>DNI escaneado (Presentar documento fisico)</li>
            <li>Certificado de buena salud (Presentar documento fisico)</li>
            <li>Resoluciones, certificados o constancia de su actividad permanente en el deporte. (Presentar documento fisico)</li>
            <li>Afiliación al SIS o ESSALUD. (Presentar documento fisico)</li>
            <li>Constancia de Examen Psicológico</li>
            <li>Compromiso notarial de participación en eventos deportivos </li>
          </ul>
        </div>

        <!-- Nota -->
        <div class="nota bg-yellow-100 p-4 rounded-lg text-gray-700">
          <strong>Nota:</strong> Para examen de admisión extraordinario deportistas calificados, presentar 1 dia antes los documentos legalizados requeridos en la Oficina de Admision de Pregrado - UNAS
        </div>
      </div>
    </details>
    <details class="modalidad border border-gray-300 rounded-lg p-4 bg-white shadow-md">
      <summary class="select-none cursor-pointer">Modalidad Traslados Externos</summary>
      <div class="info mt-4" style="display: block;">
        <!-- Fechas -->
        <div class="fechas ml-4 mb-4">
          <strong class="block text-lg text-green-600 mb-2">Fechas:</strong>
          <p>Presentación de requisitos: 02/01/2025 - 20/02/2025</p>
          <p>Examen de Aptitud Académica: 23/02/2025</p>
        </div>

        <!-- Precios -->
        <div class="precios ml-4 mb-4">
          <strong class="block text-lg text-green-600 mb-2">Precios:</strong>
          <p>Colegio Estatal: S/. 360.00</p>
          <p>Colegio Particular: S/. 380.00</p>
        </div>

        <!-- Requisitos -->
        <div class="requisitos ml-4 mb-4">
          <strong class="block text-lg text-green-600 mb-2">Requisitos:</strong>
          <ul class="list-disc list-inside">
            <li>Solicitud dirigida al decano de la facultad al que postula.</li>
            <li>Recibo de pago (Presentar documento fisico)</li>
            <li>Certificado de estudio original.(Presentar documento fisico)</li>
            <li>Constancia de primera matricula brindado de la Dirección de asuntos Academicos (DIA) (Presentar documento original).</li>
            <li>Constancia de no haber sido separado de la Universidad o institución de origen.</li>
            <li>Silabos o programas de asignaturas aprobadas.</li>
            <li>Copia DNI o pasaporte con visa de residencia.</li>
            <li>Constancia de registro de grado de bachiller SUNEDU.</li>
          </ul>
        </div>

        <!-- Nota -->
        <div class="nota bg-yellow-100 p-4 rounded-lg text-gray-700">
          <strong>Nota:</strong> Para examen de admisión extraordinario traslados externos, presentar 1 dia antes los documentos legalizados requeridos en la Oficina de Admision de Pregrado - UNAS
        </div>
      </div>
    </details>
    <details class="modalidad border border-gray-300 rounded-lg p-4 bg-white shadow-md">
      <summary class="select-none cursor-pointer">Modalidad primer y segundo puesto de educación secundaria y egresados COAR</summary>
      <div class="info mt-4" style="display: block;">
        <!-- Fechas -->
        <div class="fechas ml-4 mb-4">
          <strong class="block text-lg text-green-600 mb-2">Fechas:</strong>
          <p>Presentación de requisitos: 02/01/2025 - 20/02/2025</p>
          <p>Examen de Aptitud Académica: 23/02/2025</p>
        </div>

        <!-- Precios -->
        <div class="precios ml-4 mb-4">
          <strong class="block text-lg text-green-600 mb-2">Precios:</strong>
          <p>Colegio Estatal: S/. 220.00</p>
          <p>Colegio Particular: S/. 240.00</p>
        </div>

        <!-- Requisitos -->
        <div class="requisitos ml-4 mb-4">
          <strong class="block text-lg text-green-600 mb-2">Requisitos:</strong>
          <ul class="list-disc list-inside">
            <li>Solicitud dirigida a rector UNAS. (Presentar documento fisico)</li>
            <li>Recibo de pago (Presentar documento fisico)</li>
            <li>Certificado de estudios de 1° al 5° año de educación secundaria.</li>
            <li>Constancia de 1° o 2° puesto de orden de mérito de promoción.</li>
            <li>Constancia de egresado de COAR.</li>
            <li>Copia de DNI ampliado. (Presentar documento fisico)</li>
          </ul>
        </div>

        <!-- Nota -->
        <div class="nota bg-yellow-100 p-4 rounded-lg text-gray-700">
          <strong>Nota:</strong> Primer y segundo puesto de educación secundaria y egresados COAR, presentar 1 dia antes los documentos legalizados requeridos en la Oficina de Admision de Pregrado - UNAS
        </div>
      </div>
    </details>
    <details class="modalidad border border-gray-300 rounded-lg p-4 bg-white shadow-md">
      <summary class="select-none cursor-pointer">Modalidad Víctimas de Terrorismo</summary>
      <div class="info mt-4" style="display: block;">
        <!-- Fechas -->
        <div class="fechas ml-4 mb-4">
          <strong class="block text-lg text-green-600 mb-2">Fechas:</strong>
          <p>Presentación de requisitos: 02/01/2025 - 20/02/2025</p>
          <p>Examen de Aptitud Académica: 23/02/2025</p>
        </div>

        <!-- Precios -->
        <div class="precios ml-4 mb-4">
          <strong class="block text-lg text-green-600 mb-2">Precios:</strong>
          <p>Colegio Estatal: S/. 0.00</p>
          <p>Colegio Particular: S/. 0.00</p>
        </div>

        <!-- Requisitos -->
        <div class="requisitos ml-4 mb-4">
          <strong class="block text-lg text-green-600 mb-2">Requisitos:</strong>
          <ul class="list-disc list-inside">
            <li>Solicitud dirigida al rector UNAS.</li>
            <li>Copia legible de certificados de estudios del 1° al 5° año de secundaria con promedio general mínimo de 12 (doce).</li>
            <li>Copia de acreditación otorgada por el MINES y/o consejo de reparación de haber sido afectado por violencia a nombre del postulante.</li>
            <li>Copia de DNI (Presentar documento fisico)</li>
          </ul>
        </div>

        <!-- Nota -->
        <div class="nota bg-yellow-100 p-4 rounded-lg text-gray-700">
          <strong>Nota:</strong> Para examen de admisión extraordinario víctimas de terrorismo, presentar 1 dia antes los documentos legalizados requeridos en la Oficina de Admision de Pregrado - UNAS
        </div>
      </div>
    </details>
    <details class="modalidad border border-gray-300 rounded-lg p-4 bg-white shadow-md">
      <summary class="select-none cursor-pointer">Modalidad Comunidades Nativas</summary>
      <div class="info mt-4" style="display: block;">
        <!-- Fechas -->
        <div class="fechas ml-4 mb-4">
          <strong class="block text-lg text-green-600 mb-2">Fechas:</strong>
          <p>Presentación de requisitos: 02/01/2025 - 20/02/2025</p>
          <p>Examen de Aptitud Académica: 23/02/2025</p>
        </div>

        <!-- Precios -->
        <div class="precios ml-4 mb-4">
          <strong class="block text-lg text-green-600 mb-2">Precios:</strong>
          <p>Colegio Estatal: S/. 200.00</p>
          <p>Colegio Particular: S/. 220.00</p>
        </div>

        <!-- Requisitos -->
        <div class="requisitos ml-4 mb-4">
          <strong class="block text-lg text-green-600 mb-2">Requisitos:</strong>
          <ul class="list-disc list-inside">
            <li>Solicitud dirigida al rector UNAS.</li>
            <li>Recibo de pago (Presentar documento fisico)</li>
            <li>Copia de certificado de estudios 1° al 5° año de secundaria con promedio general mínimo de 12 (doce), cuyo colegio está ubicado dentro del ámbito geográfico de la comunidad nativa.</li>
            <li>Carta de presentación del jefe de comunidad o de la Organización Indígena en la cual se especifique su membresía del pueblo indígena respectiva.</li>
            <li>Compromiso de honor, notarial de desempeñarse como profesional por un periodo no menor de 2 años en la comunidad donde reside después de obtener su grado de bachiller o título profesional.</li>
            <li>Copia ampliada de DNI.</li>
          </ul>
        </div>

        <!-- Nota -->
        <div class="nota bg-yellow-100 p-4 rounded-lg text-gray-700">
          <strong>Nota:</strong> Para examen de admisión extraordinario comunidades nativas, presentar 1 dia antes los documentos legalizados requeridos en la Oficina de Admision de Pregrado - UNAS
        </div>
      </div>
    </details>
    <details class="modalidad border border-gray-300 rounded-lg p-4 bg-white shadow-md">
      <summary class="select-none cursor-pointer">Modalidad Arte y Cultura</summary>
      <div class="info mt-4" style="display: block;">
        <!-- Fechas -->
        <div class="fechas ml-4 mb-4">
          <strong class="block text-lg text-green-600 mb-2">Fechas:</strong>
          <p>Presentación de requisitos: 02/01/2025 - 20/02/2025</p>
          <p>Examen de Aptitud Académica: 23/02/2025</p>
        </div>

        <!-- Precios -->
        <div class="precios ml-4 mb-4">
          <strong class="block text-lg text-green-600 mb-2">Precios:</strong>
          <p>Colegio Estatal: S/. 220.00</p>
          <p>Colegio Particular: S/. 240.00</p>
        </div>

        <!-- Requisitos -->
        <div class="requisitos ml-4 mb-4">
          <strong class="block text-lg text-green-600 mb-2">Requisitos:</strong>
          <ul class="list-disc list-inside">
            <li>Certificado de estudio originales de educación secundaria promedio 12 (doce).</li>
            <li>Recibo de pago (Presentar documento fisico)</li>
            <li>Copia de DNI.</li>
            <li>Tener actividad permanente del arte que practica en el momento de la solicitud.</li>
          </ul>
        </div>

        <!-- Nota -->
        <div class="nota bg-yellow-100 p-4 rounded-lg text-gray-700">
          <strong>Nota:</strong> Para examen de admisión extraordinario arte y cultura, presentar 1 dia antes los documentos legalizados requeridos en la Oficina de Admision de Pregrado - UNAS
        </div>
      </div>
    </details>
    <details class="modalidad border border-gray-300 rounded-lg p-4 bg-white shadow-md">
      <summary class="select-none cursor-pointer">Modalidad Beca18</summary>
      <div class="info mt-4" style="display: block;">
        <!-- Fechas -->
        <div class="fechas ml-4 mb-4">
          <strong class="block text-lg text-green-600 mb-2">Fechas:</strong>
          <p>Presentación de requisitos: 02/01/2025 - 20/02/2025</p>
          <p>Examen de Aptitud Académica: 23/02/2025</p>
        </div>

        <!-- Precios -->
        <div class="precios ml-4 mb-4">
          <strong class="block text-lg text-green-600 mb-2">Precios:</strong>
          <p>Colegio Estatal: S/. 50.00</p>
          <p>Colegio Particular: S/. 50.00</p>
        </div>

        <!-- Requisitos -->
        <div class="requisitos ml-4 mb-4">
          <strong class="block text-lg text-green-600 mb-2">Requisitos:</strong>
          <ul class="list-disc list-inside">
            <li>Solicitud dirigida a rector UNAS.</li>
            <li>Recibo de pago (Presentar documento fisico)</li>
            <li>Copia de DNI.</li>
            <li>Copia de certificado de estudios 1° a 5° de secundaria.</li>
            <li>Lista de inscrito preseleccionado del concurso beca 18 PRONABEC.</li>
          </ul>
        </div>

        <!-- Nota -->
        <div class="nota bg-yellow-100 p-4 rounded-lg text-gray-700">
          <strong>Nota:</strong> Para examen de admisión extraordinario talento beca 18, presentar 1 dia antes los documentos legalizados requeridos en la Oficina de Admision de Pregrado - UNAS
        </div>
      </div>
    </details>
    <details class="modalidad border border-gray-300 rounded-lg p-4 bg-white shadow-md">
      <summary class="select-none cursor-pointer">Modalidad Personas con Discapacidad</summary>
      <div class="info mt-4" style="display: block;">
        <!-- Fechas -->
        <div class="fechas ml-4 mb-4">
          <strong class="block text-lg text-green-600 mb-2">Fechas:</strong>
          <p>Presentación de requisitos: 02/01/2025 - 20/02/2025</p>
          <p>Examen de Aptitud Académica: 23/02/2025</p>
        </div>

        <!-- Precios -->
        <div class="precios ml-4 mb-4">
          <strong class="block text-lg text-green-600 mb-2">Precios:</strong>
          <p>Colegio Estatal: S/. 180.00</p>
          <p>Colegio Particular: S/. 200.00</p>
        </div>

        <!-- Requisitos -->
        <div class="requisitos ml-4 mb-4">
          <strong class="block text-lg text-green-600 mb-2">Requisitos:</strong>
          <ul class="list-disc list-inside">
            <li>Solicitud dirigida a rector UNAS.</li>
            <li>Copia de carnet de identidad por Discapacidad, emitido por el CONADIS.</li>
            <li>Recibo de pago (Presentar documento fisico)</li>
            <li>Copia de certificado de estudio del 1° al 5° año de educación secundaria.</li>
            <li>Copia ampliada de DNI.</li>
          </ul>
        </div>

        <!-- Nota -->
        <div class="nota bg-yellow-100 p-4 rounded-lg text-gray-700">
          <strong>Nota:</strong> Para examen de admisión extraordinario personas con discapacidad, presentar 1 dia antes los documentos legalizados requeridos en la Oficina de Admision de Pregrado - UNAS
        </div>
      </div>
    </details>
    <details class="modalidad border border-gray-300 rounded-lg p-4 bg-white shadow-md">
      <summary class="select-none cursor-pointer">Modalidad Traslados Internos</summary>
      <div class="info mt-4" style="display: block;">
        <!-- Fechas -->
        <div class="fechas ml-4 mb-4">
          <strong class="block text-lg text-green-600 mb-2">Fechas:</strong>
          <p>Presentación de requisitos: 02/01/2025 - 20/02/2025</p>
          <p>Examen de Aptitud Académica: 23/02/2025</p>
        </div>

        <!-- Precios -->
        <div class="precios ml-4 mb-4">
          <strong class="block text-lg text-green-600 mb-2">Precios:</strong>
          <p>Colegio Estatal: S/. 280.00</p>
          <p>Colegio Particular: S/. 280.00</p>
        </div>

        <!-- Requisitos -->
        <div class="requisitos ml-4 mb-4">
          <strong class="block text-lg text-green-600 mb-2">Requisitos:</strong>
          <ul class="list-disc list-inside">
            <li>Solicitud dirigida a rector UNAS.</li>
            <li>Recibo de pago (Presentar documento fisico)</li>
            <li>Certificados de estudios originales, de haber aprobado créditos como mínimo, con promedio ponderado acumulado igual o mayor a 11.</li>
            <li>Sílabos o programas de asignaturas aprobadas, sellados y firmados por la autoridad competente.</li>
            <li>DNI copia legalizada.</li>
          </ul>
        </div>

        <!-- Nota -->
        <div class="nota bg-yellow-100 p-4 rounded-lg text-gray-700">
          <strong>Nota:</strong> Para examen de admisión extraordinario traslados internos, presentar 1 dia antes los documentos legalizados requeridos en la Oficina de Admision de Pregrado - UNAS
        </div>
      </div>
    </details>
  </div>
</main>
