<main class="h-full p-2 md:px-6 py-6 bg-gray-100 overflow-y-auto">
  <div class="py-1">
    <div class="max-w-7xl mx-auto px-2 md:px-8">
      <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg p-6">
        <div class="flex gap-2 items-center mb-4">
          <button class="text-gray rounded-full px-1 focus:outline-none" routerLink="/admin/modalidades">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                   stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"/>
              </svg>

            </div>
          </button>
          <h2 class="font-semibold text-xl text-center md:text-left">Gestión de requisitos para Modalidad
            {{_appStore.modality()?.name}}
          </h2>
        </div>
        <div
          class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 px-2 md:px-4 py-4">
          <div class="w-full md:w-1/2">
            <div class="flex items-center">
              <label for="search" class="sr-only">Buscar</label>
              <div class="relative w-full">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                  <svg aria-hidden="true" class="w-5 h-5 text-gray-500" fill="currentColor" viewbox="0 0 20 20"
                       xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"/>
                  </svg>
                </div>
                <input type="text" id="search" placeholder="Buscar" class="inp-search" [(ngModel)]="reqFilter.name">
              </div>
            </div>
          </div>
          <div
            class="flex gap-2">
            <button type="button" class="btn-create" (click)="onCreate()">
              <i class="pi pi-plus mr-1"></i>
              Nueva modalidad
            </button>
          </div>
        </div>
        <div class="overflow-x-aut">
          <div class="mx-auto px-2 lg:px-4">
            <div class="bg-white  relative shadow-md sm:rounded-lg overflow-hidden">
              <div class="overflow-x-auto">
                <table class="w-full text-sm text-left text-gray-500">
                  <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                  <tr>
                    <th scope="col" class="px-4 py-3">N°</th>
                    <th scope="col" class="px-4 py-3">Nombre</th>
                    <th scope="col" class="px-4 py-3">Descripción</th>
                    <th scope="col" class="px-4 py-3">
                      <span class="sr-only">Actions</span>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                    @for (req of requirements() | filterBy: reqFilter; track req.id; let i = $index) {
                      <tr class="border-b">
                        <td class="px-4 py-3">{{ i + 1 }}</td>
                        <td class="px-4 py-3">{{ req.name }}</td>
                        <td class="px-4 py-3">{{ req.description_guide }}</td>
                        <td class="px-4 py-3 flex items-center justify-end relative">
                          <button type="button" class="btn-options" (click)="openMenu(req, pMenu, $event)">
                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
                                 xmlns="http://www.w3.org/2000/svg">
                              <path
                                d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"/>
                            </svg>
                          </button>
                          <p-menu #pMenu [model]="menu" [popup]="true" appendTo="body"/>
                        </td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


<div *ngIf="modal()" class="fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center z-50">
  <div class="bg-white rounded-lg shadow-lg p-6 w-[70%] md:w-1/2">
    <div class="flex justify-between items-center mb-4">
      <h3 class="text-lg font-semibold">
        {{ editing() ? 'Actualizar' : 'Crear' }} Requisito
      </h3>
      <button class="text-gray hover:text-red-400 rounded-full px-1 focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor"
             stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>

    <form class="grid grid-cols-2 gap-4" [formGroup]="reqForm">
      <div class="col-span-2">
        <label class="block text-sm font-medium">Nombre <span class="text-red-600 ">*</span></label>
        <input type="text" class="border p-2 w-full mb-2 bg-white" formControlName="name">
      </div>
      <div class="col-span-2">
        <label class="block text-sm font-medium">Descripción <span class="text-red-600 ">*</span>
        </label>
        <textarea class="border p-2 w-full mb-2 bg-white" rows="3" formControlName="description_guide"></textarea>
      </div>
      <div class="col-span-2">
        <label class="block text-sm font-medium">Documento guía <span class="text-red-600 ">*</span>
        </label>
        <input type="url" class="border p-2 w-full mb-2 bg-white" formControlName="url_guide">
      </div>
    </form>

    <div class="flex justify-end space-x-2">
      <button class="bg-gray-500 text-white px-4 py-2 rounded-md" (click)="cancel()">
        Cancelar
      </button>
      <button class="bg-green-500 text-white px-4 py-2 rounded-md" (click)="onSave()">
        Guardar
      </button>
    </div>
  </div>
</div>

<p-confirmDialog key="requirements" #cd>
  <ng-template pTemplate="headless" let-message>
    <div class="rounded-lg p-12 flex flex-col items-center gap-6 bg-white">
      <div>
        <img src="/assets/logos/diap.svg" alt="logo diap" class="pointer-events-none w-12 h-12">
      </div>
      <div class="flex flex-col text-center items-center gap-2">
        <span class="font-bold text-2xl text-neutral">
          {{ message.header }}
        </span>
        <p class="opacity-60">{{ message.message }}</p>
      </div>
      <div class="flex items-center w-full gap-2">
        <button pButton label="Aceptar" (click)="cd.accept()" class="b-primary-neutral w-full">
        </button>
        <button pButton label="Cancelar" (click)="cd.reject()"
                class="b-secondary-neutral w-full">
        </button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>
<app-block-ui [show]="loading()"/>
<p-toast/>
