<div class="p-12 w-full h-full flex flex-col gap-4">
  <span class="text-3xl font-bold">Configuración de imágenes</span>
   <div class="w-full h-full flex gap-12">
     <div class="w-full h-full flex flex-col gap-4">
       <div class="flex flex-col gap-1">
         <span class="text-sm text-gray-600">Banner pantalla de bienvenida</span>
         <input class="p-2 rounded border border-gray-200 w-1/2" type="file" name="">
       </div>
       <div class="rounded w-full h-full bg-gray-100 overflow-hidden">
         <img class="w-full h-full object-center object-contain" src="" alt="">
       </div>
     </div>
     <div class="w-full h-full flex flex-col gap-4">
       <div class="flex flex-col gap-1">
         <span class="text-sm text-gray-600">Banner pantalla de inicio de sesión</span>
         <input class="p-2 rounded border border-gray-200 w-1/2" type="file" name="">
       </div>
       <div class="rounded w-full h-full bg-gray-100 overflow-hidden">
         <img class="w-full h-full object-center object-contain" src="" alt="">
       </div>
     </div>
   </div>
</div>
