@if (onboarding()) {
  <app-validate-registration/>
} @else {
  <main class="h-full w-full p-6 bg-gray-100 overflow-y-auto">
    @if (exam) {
      <div class="max-w-4xl mx-auto bg-white shadow-lg rounded-lg mt-10">
        <div class="text-blue-700 px-6 pt-6 rounded-t-lg">
          <h1 class="text-center text-2xl font-bold">REQUISITOS PARA INSCRIPCIÓN</h1>
          <p class="text-center text-lg">{{ exam.name }}</p>
          <p class="text-center text-lg">{{ exam.description }}</p>
        </div>
        <div class="text-black-700 p-6 rounded-t-lg">
          <label class="block text-md font-medium">Modalidad</label>
          <select class="border p-2 w-full mb-2 bg-white" [(ngModel)]="selectedMode">
            @for (mode of modalities; track mode.id) {
              <option [value]="mode.id">{{ mode.name }}</option>
            }
          </select>
        </div>
        <div class="px-6 overflow-auto">
          <table id="requirementsTable" class="w-full border-collapse border border-gray-300">
            <thead>
            <tr>
              <th class="border border-gray-300 p-3 text-left text-gray-700">Requisito</th>
              <th class="border border-gray-300 p-3 text-left text-gray-700">Descripción</th>
              <th class="border border-gray-300 p-3 text-center text-gray-700">Guía</th>
            </tr>
            </thead>
            <tbody id="requirementsBody">
              @for (req of requirement; track req.id) {
                <tr>
                  <td class="border border-gray-300 p-3 text-gray-600">{{ req.name }}</td>
                  <td class="border border-gray-300 p-3 text-gray-600">{{ req.description_guide }}</td>
                  <td class="border border-gray-300 p-3 text-center">
                    @if (req.url_guide) {
                      <a [href]="req.url_guide" target="_blank" class="text-blue-500 hover:text-blue-700 underline">
                        <i class="fa-solid fa-circle-info"></i>
                      </a>
                    } @else {
                      <span class="text-gray-500">No disponible</span>
                    }
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
        <div class="p-6 text-center">
          <button (click)="goToRegister()" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
            POSTULAR
          </button>
        </div>
      </div>
    } @else {
      <div class="max-w-4xl mx-auto bg-white shadow-lg rounded-lg mt-10">
        <div class="w-full flex justify-center gap-4 pt-6">
          <img class="w-24 h-24 mb-3" alt="imagen logo"
               src="https://portalweb.unas.edu.pe/sites/all/themes/business_responsive_theme/logo.png">
          <img src="/assets/logos/diap.svg" alt="Logo Diap" class="w-24 h-24 mb-3">
        </div>
        <div class="text-blue-700 px-6 pt-6 rounded-t-lg">
          <h1 class="text-center text-2xl font-bold">REQUISITOS PARA INSCRIPCIÓN</h1>
          <p class="text-center text-lg">No hay convocatorias disponibles</p>
        </div>
      </div>
    }
  </main>
}

<app-block-ui [show]="isLoading()"/>
<p-toast/>
