.btn-login {
  @apply h-full text-white py-4 px-6 flex gap-2;
  background-color: #2563EB;
}

.header {
  @apply w-full h-14 flex justify-between;
  background-color: #1ABB9C;
}

.chip-user {
  background-color: #0F75BC;
  @apply flex gap-2 px-2 items-center;
}