<div class="menu transition-all duration-300 h-[calc(100vh-64px)] flex flex-col fixed md:static top-16 left-0 z-50"
     [ngClass]="{'hidden md:flex md:w-[50px]': appStore.menuIsCompact(), 'w-[280px]': !appStore.menuIsCompact()}">
  <div class="flex-1">
    @if (!appStore.menuIsCompact()) {
      @for (item of appStore.menuItems(); track item.name) {
        <button class="w-full text-white h-12 px-4 flex items-center gap-2" [routerLink]="item.route" routerLinkActive="item-select"
                [routerLinkActiveOptions]="{exact: item.exact}">
          <i class="fa-solid {{item.icon}}"></i>
          <span class="text-base">{{ item.name }}</span>
        </button>
      }
    } @else {
      @for (item of appStore.menuItems(); track item.name) {
        <button class="w-[50px] px-4 h-12 flex items-center justify-center text-white" [pTooltip]="item.name" tooltipPosition="right" [routerLink]="item.route"
                routerLinkActive="item-select" [routerLinkActiveOptions]="{exact: item.exact}">
          <i class="fa-solid {{item.icon}}"></i>
        </button>
      }
    }
  </div>
  @if (authStore.isAuth()) {
    <button type="submit" class="w-full btn-logout" (click)="logout()">
      <i class="fa-solid fa-power-off"></i>
      @if (!appStore.menuIsCompact()) {
        <span class="ml-2 text-md">Cerrar Sesión</span>
      }
    </button>
  }
</div>

<p-confirmDialog key="logout" #cd>
  <ng-template pTemplate="headless" let-message>
    <div class="rounded-lg p-12 flex flex-col items-center gap-6 bg-white">
      <div>
        <img src="/assets/logos/diap.svg" alt="logo diap" class="pointer-events-none w-12 h-12">
      </div>
      <div class="flex flex-col text-center items-center gap-2">
        <span class="font-bold text-2xl text-neutral">
          {{ message.header }}
        </span>
        <p class="opacity-60">{{ message.message }}</p>
      </div>
      <div class="flex items-center w-full gap-2">
        <button pButton label="Aceptar" (click)="cd.accept()" class="b-primary-neutral w-full">
        </button>
        <button pButton label="Cancelar" (click)="cd.reject()"
          class="b-secondary-neutral w-full">
        </button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>
<p-toast />
<app-block-ui [show]="isLoading" />
