@if (appStore.isMobileDevice()) {
<p-sidebar [visible]="!appStore.menuIsCompact()" [showCloseIcon]="false">
  <ng-template pTemplate="headless">
    <div class="menu h-full flex flex-col">
      <div class="flex-1 mt-4">
        @for (item of appStore.menuItems(); track item.name) {
        <div class="item" (click)="goToRoute(item.route)" appActiveRoute [appActiveRoute]="item.route"
          activeClass="item-select">
          <i class="fa-solid {{item.icon}}"></i>
          <span>{{ item.name }}</span>
        </div>
        }
      </div>
      @if (authStore.isAuth()) {
        <button type="submit" class="btn-logout" (click)="logout()">
          <i class="fa-solid fa-power-off"></i>
          <span class="ml-2 text-md">Cerrar Sesión</span>
        </button>
      }
    </div>
  </ng-template>
</p-sidebar>
} @else {
<div class="menu transition-all duration-300 h-full flex flex-col"
  [ngClass]="{'w-12': appStore.menuIsCompact(), 'w-64': !appStore.menuIsCompact()}">
  <div class="flex-1">
    @if (!appStore.menuIsCompact()) {
    @for (item of appStore.menuItems(); track item.name) {
    <div class="item" [routerLink]="item.route" routerLinkActive="item-select"
      [routerLinkActiveOptions]="{exact: true}">
      <i class="fa-solid {{item.icon}}"></i>
      <span>{{ item.name }}</span>
    </div>
    }
    } @else {
    @for (item of appStore.menuItems(); track item.name) {
    <div class="item" [pTooltip]="item.name" tooltipPosition="right" [routerLink]="item.route"
      routerLinkActive="item-select" [routerLinkActiveOptions]="{exact: true}">
      <i class="fa-solid {{item.icon}}"></i>
    </div>
    }
    }
  </div>
  @if (authStore.isAuth()) {
  <button type="submit" class="btn-logout" (click)="logout()">
    <i class="fa-solid fa-power-off"></i>
    @if (!appStore.menuIsCompact()) {
    <span class="ml-2 text-md">Cerrar Sesión</span>
    }
  </button>
  }
</div>
}

<p-confirmDialog key="logout" #cd>
  <ng-template pTemplate="headless" let-message>
    <div class="flex flex-col items-center p-5 bg-white rounded-md">
      <div class="bg-blue-500 rounded-full text-white inline-flex justify-center items-center h-24 w-24">
        <img src="/assets/logos/diap.svg" alt="logo diap" class="pointer-events-none">
      </div>
      <span class="font-bold text-2xl block mb-2 mt-4 text-slate-700">
        {{ message.header }}
      </span>
      <p class="mb-0">{{ message.message }}</p>
      <div class="flex items-center gap-2 mt-4">
        <button pButton label="Aceptar" (click)="cd.accept()" class="w-32 bg-blue-500 text-white hover:bg-blue-700">
        </button>
        <button pButton label="Cancelar" (click)="cd.reject()"
          class="border-2 border-blue-500 text-blue-500 hover:bg-blue-500 hover:text-white w-32">
        </button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>
<p-toast />
<app-block-ui [show]="isLoading" />