<div class="menu transition-all duration-300 h-full flex flex-col" [ngClass]="{'w-12': isCompact, 'w-64': !isCompact}">
  <div class="flex-1">
    @if (!isCompact) {
      @for (item of menuItems; track item.name) {
        <div class="item" [routerLink]="item.route" routerLinkActive="item-select">
          <i class="fa-solid {{item.icon}}"></i>
          <span>{{ item.name }}</span>
        </div>
      }
    } @else {
      @for (item of menuItems; track item.name) {
        <div class="item" [pTooltip]="item.name" tooltipPosition="right" [routerLink]="item.route"
             routerLinkActive="item-select">
          <i class="fa-solid {{item.icon}}"></i>
        </div>
      }
    }
  </div>
  <button type="submit" class="py-3 px-4 flex items-center bg-red-500 hover:bg-red-600 text-white w-full">
    <i class="fa-solid fa-power-off"></i>
    @if (!isCompact) {
      <span class="ml-2 text-md">Cerrar Sesión</span>
    }
  </button>
</div>
